:root {
    --black: #000000;
    --very-light-green: #D4F6CC;
    --light-green: #3CCF4E;
    --white: #FFFFFF;
    --light-gray: #E8F9FD;
}


* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Code', monospace;
    background-color: var(--very-light-green);
}

.form-container {
    width: 80%;
    max-width: 500px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 3em 1em;
    background-color: #3CCF4E;
    border-radius: 1em;
}

.form__title {
    font-size: 1.7rem;
    margin: 0;
}

.form__input-title {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
}

.form__input-container {
    width: 80%;
}

.form__input, .form__textarea {
    width: 100%;
    padding: .3em .5em;
    border-radius: .2em;
    background-color: var(--very-light-green);
    font-size: 1.2rem;
}

.form__input:focus, .form__textarea:focus {
    outline: none;
}

.form__textarea {
    resize: none;
}

.form__btn {
    width: 80%;
    padding: .8em;
    font-weight: 500;
    border: 0;
    border-radius: .2em;
    background-color: var(--very-light-green);
    transition: transform .3s;
}

.form__btn:hover {
    transform: scale(1.02);
}



