:root {
    --white: #FFFFFF;
    --black: #000000;
    --purple: #5C2E7E;
    --dark-blue: #4C6793;
    --light-blue: #8BBCCC;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--purple);
}

.element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex-direction: column;
    width: 100%;
}

.content-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.form-container {
    width: 35%;
}

.form {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 2em;
    border: 5px solid var(--black);
    border-radius: .5em;
    background-color: var(--light-blue);
}

.form__title {
    margin-block: 0;
    text-align: center;
    font-size: 2rem;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input-title {

    font-weight: 500;
}

.form__input, .form__textarea, .form__btn {
    margin-top: 3px;
    padding: .5em .8em;
    border: 3px solid var(--black);
    border-radius: .5em;
    box-shadow: 2px 3px 0 var(--black);
    transition:transform, box-shadow  0.2s, 0.2s;
}

.form__textarea {
    height: 10ch;
    resize: none;
}

.form__btn {
    margin-top: 0;
    width: 50%;
    font-weight: 500;
    background-color: #5CB8E4;
}

.form__input:focus, .form__textarea:focus, .form__btn:active {
    transform: translateX(2px) translateY(3px);
    box-shadow: 0 0 transparent;
    outline: none;
}

.table-container {
    overflow: auto;
    width: 65%;
    height: 100%;
}

.table {
    height: 100%;
    padding: 1em;
    background-color: var(--light-blue);
    border: 5px solid var(--black);
    border-radius: .5em;
}

.table__header {

}
